In [6]:
from pathlib import Path
import librosa

audio_dir = Path("../input/MEMD_audio")
files = sorted(audio_dir.glob(pattern="*.mp3"), key=lambda p:int(p.stem))
names = [f.name for f in files]

"""for file in dir.glob("*.mp3"):
    y, sr = librosa.load(file, sr=None)
    duration = len(y) / sr
    print(f"{file.name}: {duration:.2f} sec")"""

'for file in dir.glob("*.mp3"):\n    y, sr = librosa.load(file, sr=None)\n    duration = len(y) / sr\n    print(f"{file.name}: {duration:.2f} sec")'

In [7]:
import pandas as pd
df1 = pd.read_csv("../input/annotations/annotations averaged per song/song_level/static_annotations_averaged_songs_1_2000.csv")
df2 = pd.read_csv("../input/annotations/annotations averaged per song/song_level/static_annotations_averaged_songs_2000_2058.csv")

In [8]:
df1.columns.to_list()

['song_id', ' valence_mean', ' valence_std', ' arousal_mean', ' arousal_std']

In [9]:
df2.columns.to_list()

['song_id',
 ' valence_mean',
 ' valence_std',
 ' valence_ max_mean',
 ' valence_max_std',
 ' valence_min_mean',
 ' valence_min_std',
 ' arousal_mean',
 ' arousal_std',
 ' arousal_max_mean',
 ' arousal_max_std',
 ' arousal_min_mean',
 ' arousal_min_std']

In [10]:
df1 = df1[["song_id"," valence_mean" , " arousal_mean"]]
df2 = df2[["song_id"," valence_mean" , " arousal_mean"]]
df = pd.concat([df1, df2])
df.head()

   song_id   valence_mean   arousal_mean
0        2            3.1            3.0
1        3            3.5            3.3
2        4            5.7            5.5
3        5            4.4            5.3
4        7            5.8            6.4

In [11]:
df_dir = Path("../input/annotations/annotations averaged per song/song_level/")
df_list = []
for file in df_dir.glob("*csv"):
    df = pd.read_csv(file)
    df = df[["song_id"," valence_mean" , " arousal_mean"]]
    df_list.append(df)
    df = pd.concat(df_list)
df.head()

   song_id   valence_mean   arousal_mean
0        2            3.1            3.0
1        3            3.5            3.3
2        4            5.7            5.5
3        5            4.4            5.3
4        7            5.8            6.4

In [12]:
from pathlib import Path
import librosa

song_ids = df["song_id"].tolist()

"""for id in song_ids:
     audio_path = audio_dir / f"{id}.mp3"
    y, sr = librosa.load(audio_path)
    arousal = df.loc[df["song_id"] == id, " arousal_mean"].values[0]
    valence = df.loc[df["song_id"] == id, " valence_mean"].values[0]
    print("ar: ",arousal, end=" ")
    print("val: ",valence) """

'for id in song_ids:\n     audio_path = audio_dir / f"{id}.mp3"\n    y, sr = librosa.load(audio_path)\n    arousal = df.loc[df["song_id"] == id, " arousal_mean"].values[0]\n    valence = df.loc[df["song_id"] == id, " valence_mean"].values[0]\n    print("ar: ",arousal, end=" ")\n    print("val: ",valence) '

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[[" valence_mean" , " arousal_mean"]] = scaler.fit_transform(df[[" valence_mean" , " arousal_mean"]])

In [20]:
df.describe()

           song_id   valence_mean   arousal_mean
count  1802.000000   1.802000e+03   1.802000e+03
mean   1093.215871  -5.756895e-16  -2.286985e-16
std     599.658004   1.000278e+00   1.000278e+00
min       2.000000  -2.814641e+00  -2.507373e+00
25%     569.500000  -6.850123e-01  -7.910782e-01
50%    1157.500000  -3.531259e-03   6.706900e-02
75%    1607.750000   7.631349e-01   7.691894e-01
max    2058.000000   2.977948e+00   2.563497e+00

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1802 entries, 0 to 57
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   song_id        1802 non-null   int64
 1    valence_mean  1802 non-null   float64
 2    arousal_mean  1802 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 56.3 KB